*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background: url('matthew-smith-Rfflri94rs8-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    height: 430px;
    background-color: transparent;
    border: 2px solid grey;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.container .login-1{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: orange; */
    margin: 30px 0;
}

.login-1 input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(103, 103, 255);
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    padding: 20px 45px 20px 15px;
}

.login-1 input::placeholder{
    color: #fff;
}

.login-1 i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.container .forgot{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: -15px 0px 15px;
}

.forgot label input{
    accent-color: #fff;
    margin-right: 5px;
}

.forgot a{
    color: #fff;
    text-decoration: none;
}

.forgot a:hover{
    text-decoration: underline;
}

.container .btn{
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    font-weight: 700;
}

.container .register{
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
}

.container .register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.contianer .register p a:hover{
    text-decoration: underline;
}