*{
    margin: 0;
    padding: 0;
    font-family:  'Gill Sans MT','Trebuchet MS', sans-serif;
}

body{
    background-color: #E3F2FD;
}

.nav{
    background-color: #1976D2;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 300px;
    font-size: 22px;
    gap: 50px;
}
.navbar-nav li{
    color: #FFFFFF;
}
.container-1{
    width: 700px;
    height: 500px;
    /* background-color: green; */
    margin-left: 150px;
    margin-top: 50px;
    
}
.container-1 h2{
    font-size: 60px;
    padding-left: 30px;
    color: black;
}
.container-1 p{
    margin-top: 30px;
    font-size: 30px;
    padding-left: 30px;
}
.container-1 .free{
    width: 188px;
    height: 55px;
    background-color: #edca53;
    border: none;
    border: 2px solid #50ffbd;
    border-radius: 28px;
    margin-top: 54px;
    margin-left: 30px;
}

.container-2{
    width: 700px;
    height: 500px;
    background-color: red;
    margin-left: auto;
    margin-right: 150px;
    margin-top: -500px;
}
.container-2 img:hover{
    transform: scale(1.08);
    border-radius: 20px;
}
